.footer-wrapper {
    background: #353535;
    padding: 10px 20px;
}
.footer-wrapper h4 {
    font-family: 'Shrikhand';
    color: white;
    padding-left: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
footer .fa {
    margin-right: 5px;
}
.footer-list {
    color: white;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    line-height: 25px;
    font-weight: 400;
    padding-left: 20px;
    margin-top: 10px;
}
.footer-list a {
    text-decoration: none;
    color: white;
}