/* colors */
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

/* background colors */
$background-color: #f3f3f3;
$dark-background-color: #eaeaea;

/* font styles */
$font-title: 'Shrikhand';
$font-text: 'Roboto', sans-serif;