@import "./header";
@import "./footer";
@import "./animations";
@import "./variables";
* {
    box-sizing: border-box;
}


.logo {
    height: 40px;
}
.menu-background1 {
    background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    height: 300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.menu-background2 {
    background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    height: 300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.menu-background3 {
    background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    height: 300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.menu-background4 {
    background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    height: 300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.menu-title {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    font-family: 'Shrikhand';
}
.menu-title h1 {
    font-size: 28px;
}
.menu-title-icon {
    font-size: 25px;
    margin: 0 30px;
}
.menu-title-icon:hover .fa.fa-heart-o {
    display: none;
}
.menu-title-icon:hover .fas.fa-heart {
    display: block;
    cursor: pointer;
    animation: fade 3s ;
}
.fas.fa-heart {
    display: none;
    color: #9356DC;
}


.menu-items {
    background: $background-color;
    border: 1px solid $background-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -60px;
    font-family: $font-text;
    font-weight: 300;
}
.border-line {
    width: 60px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 25px;
    background: $tertiary-color;
}
.entrees {
    animation: slide_up 1.5s ease;
}

.entrees h2 {
    text-transform: uppercase;
    padding-left: 25px;
    margin-bottom: 0;
    font-weight: 200;
    font-size: 17px;
}
.entree-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
    align-items: center;
}
.card {
    width: 95%;
    background: white;
    box-shadow: 0 5px 10px 1px #8888;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .meal-title {
    display: flex;
    
    margin-bottom: 0;
    flex-direction: column;
    padding: 11px;
    text-overflow: ellipsis;
  }
  .meal-title h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    padding-bottom: 9px;
    font-size: 15px;
  }
  .meal-price {
    font-weight: bold;
    margin-top: -22px;
  }
  .card:hover .meal-price {
    transform: translatex(-55px);
    transition: transform .5s;
  }
  .meal-title-2 {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .card:hover .green-card{
    opacity: 1;
    cursor: pointer;
    transition: all .5s;
    transform: translateX(-55px);
  }
  
  .green-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 70px;
    background: $tertiary-color;
    position: absolute;
    top: 0;
    margin-left: -7px;
    left: 100%;
    opacity: 0;
    transform: translateX(20px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
  }
  .fa.fa-check-circle {
    color: white;
    font-size: 20px;
    
  }
  .card:hover .fa.fa-check-circle {
    transform: rotate(360deg);
    transition: transform .5s ease-in 50ms;
  }

.main-dishes {
    animation: slide_up 3s ease;
}
.main-dishes h2 {
    text-transform: uppercase;
    margin-bottom: 0;
    padding-left: 25px;
    font-weight: 200;
    font-size: 17px;
}
.dish-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
    align-items: center;
}

.desserts {
    animation: slide_up 4.5s ease;
}
.desserts h2 {
    text-transform: uppercase;
    margin-bottom: 0;
    padding-left: 25px;
    font-weight: 200;
    font-size: 17px;
}
.dessert-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
    align-items: center;
}

.btn-wrapper {
    margin: 0;
    text-align: center;
    padding: 30px;
}

 .menu-items button {
     background: $secondary-color; 
    background-image: linear-gradient($secondary-color, $primary-color);
    width: 175px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border: 1px solid $secondary-color;
    border-radius: 20px;
}
