header {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  width: 100%;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 6px #888;
          box-shadow: 0px 0px 6px #888;
}

.header-return {
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 20px;
}

.header-return i {
  color: black;
}

.footer-wrapper {
  background: #353535;
  padding: 10px 20px;
}

.footer-wrapper h4 {
  font-family: 'Shrikhand';
  color: white;
  padding-left: 15px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

footer .fa {
  margin-right: 5px;
}

.footer-list {
  color: white;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  line-height: 25px;
  font-weight: 400;
  padding-left: 20px;
  margin-top: 10px;
}

.footer-list a {
  text-decoration: none;
  color: white;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide_up {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide_up {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* colors */
/* background colors */
/* font styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  height: 40px;
}

.menu-background1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  height: 300px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.menu-background2 {
  background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  height: 300px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.menu-background3 {
  background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  height: 300px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.menu-background4 {
  background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  height: 300px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.menu-title {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 25px;
  font-family: 'Shrikhand';
}

.menu-title h1 {
  font-size: 28px;
}

.menu-title-icon {
  font-size: 25px;
  margin: 0 30px;
}

.menu-title-icon:hover .fa.fa-heart-o {
  display: none;
}

.menu-title-icon:hover .fas.fa-heart {
  display: block;
  cursor: pointer;
  -webkit-animation: fade 3s;
          animation: fade 3s;
}

.fas.fa-heart {
  display: none;
  color: #9356DC;
}

.menu-items {
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -60px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.border-line {
  width: 60px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 25px;
  background: #99e2d0;
}

.entrees {
  -webkit-animation: slide_up 1.5s ease;
          animation: slide_up 1.5s ease;
}

.entrees h2 {
  text-transform: uppercase;
  padding-left: 25px;
  margin-bottom: 0;
  font-weight: 200;
  font-size: 17px;
}

.entree-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 95%;
  background: white;
  -webkit-box-shadow: 0 5px 10px 1px #8888;
          box-shadow: 0 5px 10px 1px #8888;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.meal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 11px;
  text-overflow: ellipsis;
}

.meal-title h3 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  padding-bottom: 9px;
  font-size: 15px;
}

.meal-price {
  font-weight: bold;
  margin-top: -22px;
}

.card:hover .meal-price {
  -webkit-transform: translatex(-55px);
          transform: translatex(-55px);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.meal-title-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card:hover .green-card {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateX(-55px);
          transform: translateX(-55px);
}

.green-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 100%;
  width: 70px;
  background: #99e2d0;
  position: absolute;
  top: 0;
  margin-left: -7px;
  left: 100%;
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fa.fa-check-circle {
  color: white;
  font-size: 20px;
}

.card:hover .fa.fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform .5s ease-in 50ms;
  transition: -webkit-transform .5s ease-in 50ms;
  transition: transform .5s ease-in 50ms;
  transition: transform .5s ease-in 50ms, -webkit-transform .5s ease-in 50ms;
}

.main-dishes {
  -webkit-animation: slide_up 3s ease;
          animation: slide_up 3s ease;
}

.main-dishes h2 {
  text-transform: uppercase;
  margin-bottom: 0;
  padding-left: 25px;
  font-weight: 200;
  font-size: 17px;
}

.dish-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desserts {
  -webkit-animation: slide_up 4.5s ease;
          animation: slide_up 4.5s ease;
}

.desserts h2 {
  text-transform: uppercase;
  margin-bottom: 0;
  padding-left: 25px;
  font-weight: 200;
  font-size: 17px;
}

.dessert-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-wrapper {
  margin: 0;
  text-align: center;
  padding: 30px;
}

.menu-items button {
  background: #ff79da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  width: 175px;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  border: 1px solid #ff79da;
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */