* {
    box-sizing: border-box;
}
body {
    font-family:'Roboto', sans-serif;
    font-weight: 300;
}
header {
    padding: 10px;
    box-shadow: 0px 10px 10px #ccc;
}
.loadwrapper {
    background: white;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeout 2s .5s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeout {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  .loader {
    position: fixed;
    z-index: 99;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid transparent;
    width: 200px;
    height: 200px;
    animation: spinner 1s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.logo {
    height: 35px;
    display: block;
    margin: auto;
}
.location {
    background: #eaeaea;
    padding: 18px;
    margin-top: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.location .fa-map-marker {
    height: 20px;
    width: 20px;
}
.btn-wrapper {
    margin: 15px;
    text-align: center;
    padding: 10px;
}
.explore-text button {
    /* background: #FF79DA; */
    background-image: linear-gradient(to bottom,#FF79DA, #9356DC);
    width: 200px;
    height: 45px;
    color: white;
    border: 2px solid #f3f3f3;
    border-radius: 20px;
}
.explore-text {
    background: #f3f3f3;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
.explore-text h4 {
    font-weight: 300;
    width: 70%;
    text-align: center;
    margin: auto;
    font-size: 15px;
}
body h2 {
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
}
.instructions {
    width: 90%;
    padding: 10% 5%;
    text-align: center;
}
.instructions li {
    counter-increment: button;
    margin-bottom: 5px;
    list-style: none; 
}
.instructions li:before {
    border-radius: 100%;
    width: 20px;
    position: relative;
    margin-right: -10px;
    content: counter(button);
    color: white;
    background: #9356DC;
    display: inline-block;
    text-align: center;

}
.instructions button {
    background-color: #F3F3F3;
    color: black;
    height: 50px;
    width: 90%;
    box-shadow: 0px 10px 10px #ccc;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
}
.instructions button:hover {
    background-color: #9356DC;
    color: black;
    opacity: 0.4;
}
.restaurant-title {
    margin: 15px;

}
.restaurants-wrapper {
    background: #f3f3f3;
    margin-top: 30px;
    padding: 30px 0 30px 0;
}
.restaurant-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.plate-card {
    height: 250px;
    width: 95%;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.plate-img1 {
    position: relative;
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
}
.plate-img2 {
    position: relative;
    background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
}
.text-block {
    position: absolute;
    text-align: center;
    top: 10px;
    right: 10px;
    font-weight: bold;
    background-color: #99E2D0;
    color: #56a894;
    padding: 5px 10px;
}
.plate-img3 {
    background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
}
.plate-img4 {
    background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
}
.plate-content {
    padding: 10px;
    line-height: 5px;
    display: flex;
    justify-content: space-between;
}
.plate-title {
    padding: 10px;
}
.plate-heart {
    margin: 20px;
    font-size: 25px;
}
.plate-heart:hover .fa.fa-heart-o {
    display: none;
}
.plate-heart:hover .fas.fa-heart {
    display: block;
    cursor: pointer;
    animation: fade 3s ;
}
.fas.fa-heart {
    display: none;
    color: #9356DC;
    font-size: 25px;
}
@keyframes fade {
    from { opacity: 0}
    to {opacity: 1;}
}
.footer-wrapper {
    background: #353535;
    padding: 10px 20px;
}
.footer-wrapper h4 {
    font-family: 'shrikhand';
    color: white;
    padding-left: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
footer .fa {
    margin-right: 5px;
}
.footer-list {
    color: white;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    line-height: 25px;
    font-weight: 400;
    padding-left: 20px;
    margin-top: 10px;
}
.footer-list a {
    text-decoration: none;
    color: white;
}